<%- include("./partials/headerDashboard.ejs") %>
<script>
</script>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"><b>Transaction History</b></h1>
                    <br>
                    <center>
                        <p id="pTrans"></p>
                    </center>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Crypto</th>
                                            <!-- <th>Position</th> -->
                                            <!-- <th>Office</th> -->
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> -->
                                    <script> 
                                        let pt = document.getElementById('pTrans');
                                        let tbody = document.getElementById('firstR')
                                        if(tbody !== ""){
                                            pt.innerHTML = ""
                                        } else {
                                            pt.innerHTML = "All your transactions will be displayed here."
                                        }
                                    </script>
                                    

                                    <% fund.forEach(function(data){ %>

                                    
                                    <tbody>
                                        <tr>
                                            <td id="firstR"><%=data.crypto%></td>
                                            <!-- <td>System Architect</td> -->
                                            <!-- <td>Edinburgh</td> -->
                                            <td><%=data.amount%></td>
                                            <td><%=data.created%>></td>
                                            <td>Pending</td>
                                        </tr>
                                <%})%>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <script>
            
            </script>
<%- include("./partials/footerDashboard.ejs") %>